<div class="main">
  <div id="results">
    <h1>Results</h1>
    <%= link_to("Back", calculator_path(@calculator.guid), id: 'back') %>
    <% @results.each do |result| %>
      <div>
        <% if result.result_type == 'value' %>
          <%= result.value %>
        <% else %>
          <%= result.operation %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="calculator">
  </div>
</div>


<% content_for :script do %>
  $(function() {
    Opal.CalculatorApplication.$instance().$launch('<%= (@results + [@calculator]).to_json(root: true).html_safe %>')
  });
<% end %>
