<p>
  <strong>Name:</strong>
  <span class="<%= control.widget_show_class %>"><%= widget.name %></span>
</p>

<p>
  <strong>Color:</strong>
  <span class="<%= control.widget_show_class %>"><%= widget.color %></span>
</p>

